/* GLOBAIS */
.viewport {
  margin: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  /* border: 3px solid purple; */
}

p {
  font-size: 20px;
  color: #000000;
  text-align: justify;
}

h4 {
  font-size: 25px;
  color: #00c982;
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #00c982;
}

html{
  scroll-behavior: smooth;
}

/* Menu NotIndex */
.menu_notindex {
  display: flex;
  justify-content: center;
}

/* Header Index */
header {
  display: flex;
  height: 14vh;
  width: 100%;
  background-color: #030303;
  justify-content: center;
  position: fixed;
  z-index: 3;
  border-bottom: 2px solid #00c982;
}

header .container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
}

header .container .navbar {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar_logo img{
  width: 250px;
}


.navbar_itens {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar_itens li {
  list-style: none;
  padding: 10px;
  border-radius: 7px;
}

.navbar_itens li a {
  font-size: 12.5px;
  text-decoration: none;
  color: #dfdfdf;
}

/* Animação dos Botons de Header */
.navbar_itens li a:hover {
  transition: 0.5s;
  color: #00c982;
}

.navbar_log {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.navbar_log a {
  font-size: 13px;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px;
  background-color: #00e494;
  text-decoration: none;
  color: black;
  border-radius: 20px;
}

/* Animação do Botão ABRA SUA CONTA do Header */
.navbar_log a:hover {
  width: 230px;
  transition: 0.5s;
  background-color: #00c781;
}

/* Fim do Header */

/* Banner */
.banner {
  height: 110vh;
  background-image: url(banner1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 4px solid #00c982;
}

.banner_container {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner_logo {
  width: 45%;
}

.banner_slogan {
  font-size: 30px;
  color: #d6d6d6;
}

.banner_button {
  background-color: #00e494;
  width: 100px;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
}


.banner_button:hover {
  width: 130px;
  transition: 0.5s;
  background-color: #00c982;
  cursor: pointer;
}

.banner_button a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

/* O Que Somos ? */

.div_sobrenos .container {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div_sobrenos_logo {
  width: 60%;
}

.div_sobrenos .container h4 {
  margin-top: 90px;
}

/* Missão Visão e Valores */
.div_sobrenos {
  /* tirar depois que decidirmos a fonte que usaremos no site inteiro!!! */
  padding: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 3px solid pink; */
}

.div_sobrenos .container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  /* border: 3px solid palegreen; */
}

.div_sobrenos_perfis {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div_sobrenos .container2 {
  display: flex;
  justify-content: center;
}

.box img {
  height: 128px;
  align-self: center;
}

.div_sobrenos_perfis .box p {
  padding: 20px;
}

/* Integrantes */

.div_integrantes {
  padding-top: 60px;
  background-color: #00c982;
  display: flex;
  flex-direction: column;
  height: 70vh;
  border-top: 4px solid #009e67;
  border-bottom: 4px solid #009e67;
  /* border: 3px solid pink; */
}

.div_integrantes .container {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
  /* border: 3px solid palegreen; */
}

.div_integrantes p {
  color: aliceblue;
  display: flex;
  justify-content: center;
}

.div_integrantes_name {
  color: aliceblue;
  margin: 7px;
}

.div_integrantes_title {
  margin: 0;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.div_integrantes .container img {
  align-self: center;
  border: 5px solid aliceblue;
  border-radius: 100px;
}

/* Flow Per Ad */
.div_produto {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.div_produto .container h4 {
  margin-bottom: 0;
}

.div_produto .container {
  width: 80%;
  height: 110vh;
}

.div_produto_conteudo {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.div_produto_conteudo img {
  width: 25%;
}

.div_produto_conteudo p {
  padding: 30px;
}

/* Fale Conosco */

.faleconosco {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  color: #00c982;
  background-color: #e4fff6;
  border-top: 2px solid #00c982;
}

.faleconosco .container {
  width: 60%;
  display: flex;
  height: 20%;
  justify-content: center;
}

.faleconosco_input {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faleconosco_input input {
  margin-top: 10px;
  border: 1px solid #00c982;
  border-radius: 7px;
}

.faleconosco_text {
  height: 30%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faleconosco_text input {
  border: 1px solid #00c982;
  border-radius: 7px;
  text-align: center;
}

.texto_faleconosco {
  width: 200px;
  height: 30%;
}

.fale_conosco_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #00c982;
  color: white;
  width: 120px;
  border-radius: 15px;
  height: 35px;
  border: 2px solid #00c982;
}

.fale_conosco_button:hover {
  transition: 0.5s;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #00c982;
  border-radius: 15px;
}

#hub {
  margin-top: 10px;
  color: #00c982;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* Rodapé */
.footer {
  height: 20vh;
  background-color: #030303;
  border-top: 2px solid #00b475;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  flex-direction: row;
}

.footer_container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.footer_container2 {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.footer_container2 h4 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 0;
}

.footer_social {
  width: 30px;
  height: 30px;
}

.footer_redes_imagens {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer_logo .logo {
  width: 200px;
  margin: 30px;
}

/* Login */

.div_login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_login .container {
  margin-top: 5%;
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.div_login .container .log_msg {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40%;
  height: 100%;
  background-color: #00c982;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.div_login .container .log_msg p {
  color: white;
  text-align: justify;
  font-size: 15px;
}

.div_login .container .log_form {
  height: 100%;
  width: 60%;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.div_login .container .log_msg .log_msg_bp1 {
  width: 80%;
  height: 20%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_login .container .log_msg .log_msg_bp2 {
  width: 80%;
  height: 18%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.div_login .log_msg_button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 20px;
  width: 120px;
  border-radius: 10px;
}

.div_login .log_msg span {
  text-decoration: none;
  color: white;
}

.div_login .log_msg a {
  text-decoration: none;
}

.div_login .log_msg_button_index {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 30px;
  width: 150px;
  border-radius: 10px;
}

.div_login .log_msg a span:hover {
  background-color: white;
  color: #000000;
  transition: 0.5s;
}

.log_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #00c982;
  font-weight: bolder;
  padding: 20px;
}

.div_form.inp {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form_inputs input {
  border: 2px solid #00c982;
  border-radius: 5px;
}

.form_inputs select {
  border: 2px solid #00c982;
  border-radius: 5px;
  text-align: center;
}

.log_form_buttons {
  display: flex;
  height: 30%;
  flex-direction: column;
  align-items: center;
}

.log_form_buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #00c982;
  width: 100px;
  border-radius: 15px;
  height: 25px;
  border: 2px solid #00c982;
}

.log_form_buttons button:hover {
  transition: 0.5s;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #00c982;
  border-radius: 15px;
}

.log_form_buttons a {
  text-decoration: none;
  margin-top: 30px;
}

.form_logo {
  width: 100px;
  margin-top: 30px;
}

.log_form_buttons .log_ems {
  color: #00c982;
}

#erro_mensagem {
  color: red;
  display: flex;
  justify-content: center;
  font-size: 10px;
  height: 40px;
  align-items: center;
}

/* Dashboard */
.info_menu {
  display: flex;
  height: 100vh;
  width: 20%;
  background-color: #030303;
  border-right: 2px solid #00c982;
}
